@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CUSTOM STYLES */

html, body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #0A0A0A;
}

.aurora-outer {
    background: linear-gradient(45deg, #99F7F1 0%, #49BCB5 49%, #3498DB 82%);
    background-size: 200%;
    animation: aurora 30s infinite;
}

.aurora-inner {
    background: radial-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.8));
    background-size: 200%;
    animation: aurora 15s infinite;
}

@keyframes aurora {
    0% {
        background-position: left top;
    }
    25% {
        background-position: right top;
    }
    50% {
        background-position: right bottom;
    }
    75% {
        background-position: left bottom;
    }
    100% {
        background-position: left top;
    }
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Change direction on mobile screens */
@media screen and (max-width: 600px) {
    .first-section {
        flex-direction: column;
        text-align: center;
        padding-top: 10vh;
    }
}

h1 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.6rem;
}
h1 b {
    font-weight: 500;
    position: relative;
    z-index: 1;
}
b::before {
    content: "";
    position: absolute;
    top: 47%;
    bottom: 4%;
    left: -2%;
    background-color: #99F7F1;
    width: 0;
    z-index: -1;
    animation: slideBG .6s forwards;
    animation-delay: .6s;
}
  
@keyframes slideBG {
    to {
      width: 105%;
    }
}

.first-section > div {
    max-width: 350px;
}

.first-section p {
    margin-top: 1em;
    font-weight: 300;
}

.first-section img {
    width: 100%;
    max-width: 300px;
    margin-left: 1em;
    animation: slideIn .6s forwards;
    animation-delay: 1s;
    opacity: 0;
}
@keyframes slideIn {
    to {
        margin-left: 0;
        opacity: 1;
    }
}

.second-section {
    margin-top: 3em;
    text-align: center;
    margin-bottom: 10vh;
}

.second-section h2 {
    font-weight: 300;
    font-size: .8rem;
}

.second-section input {
    width: 80%;
    padding: 1em;
    border: 1px solid #0A0A0A;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 300;
    outline: none;
    text-align: center;
    margin-top: 6px;
}

.second-section button {
    width: 80%;
    padding: 1em;
    border: 1px solid #0A0A0A;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 300;
    outline: none;
    text-align: center;
    margin-top: 6px;
    background-color: #99F7F1;
    color: #0A0A0A;
    cursor: pointer;
}

.second-section button:hover {
    background-color: #83dad4;
}
.second-section button:active {
    background-color: #49BCB5;
}